# BizStack Perks App Infrastructure Configuration
SENDER_EMAIL="bizstackperks@gmail.com"
PLATFORM_WEB_URL="http://bizstack-perks-hub.surge.sh"
LOCAL_WORKSPACE_PATH="/Users/shaunoleary/bizstack_perks_app"
